@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Changa:wght@200..800&family=Poppins:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF8E1;
    width: 100%;
}

li, a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f7f7f7;
    text-decoration: none;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0f0f0f;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #222222;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #a99300;
}


.hero .content {
    max-width: 120rem;
}

.hero .content .text-hero{
    display: flex;
    flex-direction: column;
}

.hero .content .text-hero .final-checkout{
    background-color: red;
    color: white;
    height: 307px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.final-checkout h4{
    font-size: clamp(20px, 2vw, 25px);
    margin-left: 50px
}

.final-checkout h1{
    font-size: clamp(70px, 8vw, 100px);
    /* font-size: 100px; */
    color: #fbb917;
    margin-left: 50px;
}

.text-hero .result{
    background-color: white;
    color: black;
    width: clamp(560px, 50vw, 653px);
    height: 224px;
    margin-top: -20px;
    margin-left: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-hero .result .line-dashed{
    border: 3px dashed red;
    height: 172px;
    width: clamp(500px, 45vw,586px);


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-hero .result .line-dashed h3{
    margin: 20px;
}

.text-hero img{
    width: clamp(414px, 45vw, 564px);
    height: clamp(199px, 22vw, 271px);
    margin-top: 50px;

    align-self: flex-end;
    margin-right: 50px;
}

.balok{
    background-color: #FBBE17;
    margin-top: -10px;
    height: 116px;
}

.schedule-container .label{
    background-color: #E53935;
    text-align: center;
    color: white;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.schedule-container .label h1{
    font-size: 40px;
    font-weight: bold;
}

.schedule-container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-bottom: 20px;
}

.schedule-container table{
    margin: auto;

    width: 50%;
    height: 259px;
    border-color: #E53935;
    border: 5;
    table-layout: fixed;
    
    margin-top: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.schedule-container thead tr{
    background-color: #FBBE17;
    border-color: #FBBE17;

    font-weight: bold;
    font-size: 18px;
}

.schedule-container tbody{
    border-color: #FBBE17;
    /* border: 5px; */
    /* width: 100%; */
    text-align: center;
}

.schedule-container tbody tr{
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.contact{
    margin-top: 80px;
    width: 100%;
}

.contact .container{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.contact h3{
    font-size: 18px;
    text-align: center;

    width: 900px;
    margin: 0 auto;
}

.contact img{
    width: 100%;
    height: 500px;
}

.container .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20vw;
    max-height: 227px;

    width: 664px;
    /* background-color: green; */

    position: relative;
    margin-bottom: -250px;
    margin-top: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-container .header{
    background-color: #E53935;
    height: 100%;
    color: white;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-container .header h1{
    font-size: clamp(20px, 1.5vw, 30px);
    font-weight: bold;
}

.contact-container .body{
    background-color: white;
    height: 100%;
    width: 100%;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
}

.contact-container .body h1{
    margin-left: 40px;
    font-size: clamp(17px, 1.6vw, 30px);
    max-width: 90%;
    font-weight: bold;

    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.contact-container .body p{
    font-size: clamp(14px, 1.2vw, 20px);
    margin-left: 40px;

    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5rem 7% 1.4rem;  
    background-color: #222222;
}

footer .container {
    width: 100%;
    display: flex;
}

footer .container .logo-big img {
    width: 300px;
    margin-top: 1.5rem;
    margin-left: 10rem;
    margin-bottom: 1.8rem;
}

footer .container .info {
    margin: auto;
}

footer .container .info h1 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    color: #f7f7f7;
}

footer .container .info p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #f7f7f7;
}

footer h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 50px;
    color: rgba(253, 253, 253, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
}

section, footer{
    overflow: hidden;
    white-space: wrap;
    word-break: break-word;
}


footer h2 {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {

    
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav__links {
        display: none; 
    }

    .hero .content h1 {
        font-size: 36px;  
    }

    .form-container {
        margin-left: 0; 
    }

    .hero .content .text-hero .final-checkout{
        height: 207px;
        width: 100%;
        align-items: center;

        text-align: center;
    }

    .hero .content .text-hero .final-checkout h1{
        font-size: clamp(30px, 8vw, 50px);
        color: #fbb917;
        margin-left: 0px;
    }

    .final-checkout h4{
        font-size: clamp(10px, 2.3vw, 15px);
        margin-left: 0px;
    }

    .text-hero{
        align-items: center;
        justify-content: center;
    }

    .text-hero img{
        width: clamp(238px, 60vw, 398px);
        height: clamp(114px, 40vw, 191px);
        margin-top: 50px;

        align-self: center;
        margin-right: 0px;
    }

    .text-hero .result{
        width: 70vw;
        max-width: 560px;

        height: auto;
        margin-left: 0px;
    }

    .text-hero .result .line-dashed{
        height: auto;
        padding: 20px;
        margin: 20px;
        width: 64vw;
        max-width:500px;
    }

    .text-hero .result .line-dashed h3{
        margin: 20px;
        font-size: clamp(14px, 2.8vw, 18px);
    }

    .schedule-container .balok{
        width: 100%;
        color: #FBBE17;
    }

    .schedule-container .label{
        height: auto;
        padding: 20px;
    }

    .schedule-container table {
        width: 80%;
        font-size: 15px;
    }

    .schedule-container thead tr{
        font-size: 15px;
    }

    .schedule-container .label h1{
        font-size: 20px;
    }

    .contact{
        width: 100%;
    }

    .contact .container {
        width: 100%;
        margin-top: 50px;

        /* background-color: blue; */
    }

    .contact h3{
        margin-bottom: 80px;
        font-size: 15px;
        padding: 20px;
        width: 100%;
    }

    .contact .container img{
        width: 100%;
    }

    .container .contact-container {
        height: 400px;
        flex-direction: column;
        width: 80%;

        margin-top: 20px;
    }

    .contact-container .header {
        width: 100%;
        height: auto;
        padding: 30px;

    }

    .contact-container .header h1{
        font-size: 20px;

        font-weight: bold;
        /* background-color: grey; */
    }

    .contact-container .body {
        padding: 10px;
        gap: 10px;
        height: auto;
        padding: 25px;
        width: 100%;
    }

    .contact-container .body h1{
        font-size: 18px;
    }

    .contact-container .body div {
        width: 100%;
    }

    .contact-container .body p{
       font-size: 16px;
       width: auto;
       /* background-color: #E53935; */
    }

    footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .container .logo-big img {
        margin: 1rem 0;
        width: 200px; 
    }

    footer .container .info h1 {
        font-size: 16px;
        text-align: center;
    }

    footer .container .info p {
        font-size: 12px; 
        text-align: center;
    }

    footer h2 {
        font-size: 12px; 
    }
}
